body {
    display: grid;
    border: 10px solid rgb(45, 45, 84);
    background-color: blueviolet;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header "
        "aside "
        "nav "
        "main "
        "footer "
        ;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid rgb(255, 255, 255);
    border-bottom: 0.2em solid rgb(255, 255, 255);
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid hwb(0 100% 0%);
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked.target {
    border: 10px solid rgb(0, 252, 29);
}